html
    head
        style
            include ./styles/styles.css
    body
        h2 Hello!
        span(class='user_name') #{user_name.toUpperCase()}!
        block content
        h3 Best regards, our company!

